<ng-container *ngIf="loading; else content">
  <app-loading-spinner></app-loading-spinner>
</ng-container>
<ng-template #content>
  <ng-container *ngIf="users$ | async as users">
    <app-user-search
      [searchTerm]="currentSearchTerm"
      (search)="handleSearch($event)"
    ></app-user-search>

    <div class="user-list">
      <div class="header">
        <h1>User List</h1>
        <button
          *ngIf="isAdmin()"
          (click)="createNewUser()"
          class="add-user-button"
        >
          Add New User
        </button>
        <app-sort-button
          [(sortOrder)]="sortOrder"
          (sortOrderChange)="sortUsersBy('username', $event)"
        ></app-sort-button>
      </div>
      <div>
        <div class="user-card" *ngFor="let user of users">
          <div class="user-info">
            <h2>{{ user.name }}</h2>
            <p>{{ user.email }}</p>
          </div>
          <div class="user-role">
            Admin<input
              type="checkbox"
              [checked]="user.role === 'Admin'"
              [disabled]="!isAdmin()"
              (change)="updateUserRole(user)"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <app-paginator
    [length]="totalUsers"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    (pageChange)="pageEvent($event)"
  ></app-paginator>
</ng-template>
