<div class="container">
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div
      formArrayName="questions"
      *ngFor="let question of questions.controls; let i = index"
      class="question-group"
    >
      <div [formGroupName]="i" class="card">
        <label for="question" class="form-label">Question</label>
        <input
          id="question"
          formControlName="question"
          type="text"
          class="form-control"
        />
        <label for="answer" class="form-label">Answer</label>
        <input
          id="answer"
          formControlName="answer"
          type="text"
          class="form-control"
        />
        <button type="button" (click)="removeQuestion(i)" class="btn-danger">
          Remove
        </button>
      </div>
    </div>
    <button type="button" (click)="addQuestion()" class="btn-primary">
      Add Question
    </button>
    <button type="submit" [disabled]="!dynamicForm.valid" class="btn-submit">
      Submit
    </button>
  </form>
</div>
