@import "src/_variables.scss";
@import "src/_mixins.scss";

button {
  @include fade-in(0.5s); // Use the mixin here
  margin-left: 10px;
  padding: 10px 20px;
  background-color: $logout-btn-color; // Use the variable here
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c82333; // Darken the color a bit when hovered
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
