<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input id="username" formControlName="username" type="text" />
    <div *ngIf="loginForm.controls['username'].errors">
      <p *ngIf="loginForm.controls['username'].errors['required']">
        Username is required.
      </p>
    </div>
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" />
    <div *ngIf="loginForm.controls['password'].errors">
      <p *ngIf="loginForm.controls['password'].errors['required']">
        Password is required.
      </p>
    </div>
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
